<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--    <add name="mssql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=profil_dev;Integrated security=SSPI;" providerName="System.Data.SqlClient" />-->
    <add name="mssql" connectionString="Data Source=trodbms2\tosdev;Initial Catalog=VaftWebDb;user=dba;password=dba;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="databaseType" value="MsSql" />
    <add key="ApplicationBaseUrl" value="http://the-internet.herokuapp.com"/>
    <add key="SeleniumBrowser" value="chrome"/>
    <add key="RunOnRemoteMachine" value="SeleniumGrid"/>
    <add key="SeleniumGridUrl" value="http://visma-mege.vsw.datakraftverk.no:4444/wd/hub"/>
    <add key="ImplicitWait" value="1"/>
    <add key="ExplicitWait" value="5"/>
    <add key="AjaxWaitTimeout" value="5"/>
    <add key="AnimationWaitTimeout" value="5"/>
    <add key="ScreenshotOnFailure" value="true"/>
    <!--    <add key="ChromeServerPath" value="\DriverServers"/>-->
    <!--    <add key="IeServerPath" value="\DriverServers"/>-->
    <!--    <add key="BrowserVersion" value="11"/>-->
    <!--    <add key="BrowserLanguage" value="nb-NO"/>-->
    <!--    <add key="BrowserResolution" value="1024x768"/>-->
    <!--    <add key="Proxy" value="localhost:8080"/>-->
  </appSettings>
</configuration>