<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="RunOnRemoteMachine" value="SeleniumGrid" xdt:Transform="Insert"/>
    <add key="SeleniumGridUrl" value="http://visma-mege.vsw.datakraftverk.no:4444/wd/hub" xdt:Transform="Insert"/>
    <add key="SeleniumBrowser" value="ie" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BrowserVersion" value="10" xdt:Transform="Insert"/>
  </appSettings>
</configuration>