<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net461" />
  <package id="Selenium.Support" version="4.0.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.0.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="94.0.4606.6100" targetFramework="net48" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1.2" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
</packages>