<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrowserStackLocal" version="0.2.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Magick.NET-Q8-AnyCPU" version="6.8.9.501" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NLog" version="4.4.12" targetFramework="net45" />
  <package id="NUnit" version="3.7.0" targetFramework="net45" />
  <package id="Selenium.Chrome.WebDriver" version="2.37" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.20.0" targetFramework="net45" />
  <package id="Selenium.Support" version="3.11.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.11.1" targetFramework="net45" />
  <package id="Selenium.WebDriver.IEDriver" version="3.11.1" targetFramework="net45" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net45" />
</packages>