<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationBaseUrl" value="http://the-internet.herokuapp.com"/>
    <add key="SeleniumBrowser" value="chrome"/>
    <add key="RunOnRemoteMachine" value="SeleniumGrid"/>
    <add key="SeleniumGridUrl" value="http://10.11.18.42:4444/wd/hub"/>
    <add key="ImplicitWait" value="1"/>
    <add key="ExplicitWait" value="5"/>
    <add key="AjaxWaitTimeout" value="5"/>
    <add key="AnimationWaitTimeout" value="5"/>
    <add key="ScreenshotOnFailure" value="true"/>
    <add key="BrowserLanguage" value="en-US"/>
  </appSettings>
</configuration>