<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SeleniumBrowser" value="ie" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BrowserVersion" value="11" xdt:Transform="Insert"/>
  </appSettings>
</configuration>